
POSTGRES_USER=textbook
POSTGRES_PASSWORD=CHANGE_ME_strong_db_password
POSTGRES_DB=textbook_db
SECRET_KEY=CHANGE_ME_run_python_secrets_token_urlsafe_48
ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=60
CORS_ORIGINS=http://localhost
VITE_API_URL=/api
#   CADDY_DOMAIN=mybook.example.com 
#   Абоба неужели это кто-то будет читать (/._.)/
CADDY_DOMAIN=
